$foreground-color: #FFFFFF
$background-color: #000000
$thin-border: 0.1rem solid $foreground-color
$thin-border-inverted: 0.1rem solid $background-color
$standard-margin: 2rem

/* ---------- Form Colors & Margin ---------- */

body, input[type="text"], input[type="email"], button, .button, textarea
	background-color: $background-color
	color: $foreground-color

input[type="text"]:focus, input[type="email"]:focus, textarea:focus
	background-color: $foreground-color
	color: $background-color

h1, h2, h3, h4, h5, h6, label
	color: $foreground-color

fieldset legend
	background-color: $background-color
	color: $foreground-color
	border: $thin-border
	padding: 0.2rem 1rem

button, .button
	border: $thin-border

button:hover, .button:hover
	background-color: $foreground-color
	color: $background-color

.switch label
	background-color: $background-color
	border: $thin-border

.switch label:after
	width: 1.4rem
	height: 1.4rem

.switch input:checked+label
	background-color: $foreground-color

.switch input:checked+label:after
	background-color: $background-color

.invalid
	color: #FF0000

/* ---------- End Form Colors ---------- */



/* ---------- Pretty ---------- */

.standard-margin-bottom
	margin-bottom: $standard-margin

/* ---------- Pretty ---------- */



/* ---------- Misc ---------- */

.display-none
	display: none

.no-margin
	margin: 0

/* ---------- Misc ---------- */